@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color-black {
  color: #2d2d2d;
}
.color-light-brown {
  color: #6b6b6b;
}
.mt-20 {
  margin-top: 20px;
}
.mt-15{
  margin-top: 15px;
}
.flex-d {
  display: flex;
}
.f-22 {
  font-size: 22px;
}
.mb-20 {
  margin-bottom: 20px;
}
.item-center {
  align-items: center;
}
